.A {
  color: #B5121D;
}

.a {
  color: #F76770;
}

.B {
  color: #04BB5F;
}

.b {
  color: #7FE7A6;
}

.C {
  color: #BEBE02;
}

.c {
  color: #FEF79C;
}

.D {
  color: #683C10;
}

.d {
  color: #9D6E40;
}

.E {
  color: #EA8708;
}

.e {
  color: #FFAA3C;
}

.F {
  color: #943B06;
}

.f {
  color: #8E6249;
}

.G {
  color: #2E590D;
}

.g {
  color: #21A004;
}

.H {
  color: #7DD2DF;
}

.h {
  color: #4D899D;
}

.I {
  color: #E5E5E5;
}

.i {
  color: #F0F2F3;
}

.J {
  color: #940266;
}

.j {
  color: #D016A1;
}

.K {
  color: #03853C;
}

.k {
  color: #4AAF5C;
}

.L {
  color: #BBDCD9;
}

.l {
  color: #E6FFFD;
}

.M {
  color: #744304;
}

.m {
  color: #4D2C03;
}

.N {
  color: #8B5005;
}

.n {
  color: #7A4604;
}

.O {
  color: #E6F5FF;
}

.o {
  color: #FCFDFF;
}

.P {
  color: #E575D6;
}

.p {
  color: #FFDCF8;
}

.Q {
  color: #AF1445;
}

.q {
  color: #AF1173;
}

.R {
  color: #AF1173;
}

.r {
  color: #710B4B;
}

.S {
  color: #E6F602;
}

.s {
  color: #FFF896;
}

.T {
  color: #88B8C9;
}

.t {
  color: #9BE5FF;
}

.U {
  color: #E2A7CF;
}

.u {
  color: #D69EC4;
}

.V {
  color: #FFB12F;
}

.v {
  color: #DF7E02;
}

.W {
  color: #770909;
}

.w {
  color: #9D3F07;
}

.X {
  color: #010101;
}

.x {
  color: #E1FF0E;
}

.Y {
  color: #E5642A;
}

.y {
  color: #FF9F55;
}

.Z {
  color: #EA9425;
}

.z {
  color: #FBC62B;
}

._0 {
  color: #ffffff;
}

._1 {
  color: #D30505;
}

._2 {
  color: #883814;
}

._3 {
  color: #F7FF83;
}

._4 {
  color: #058545;
}

._5 {
  color: #502106;
}

._6 {
  color: #B81AB8;
}

._7 {
  color: #927652;
}

._8 {
  color: #FFFFC4;
}

._9 {
  color: #0A8502;
}
